header{
    margin-top: 5% !important;
    width: 60% !important;
    margin:auto;
}



header .input-group.mb-3{
    width:91%;
}

header button{
    margin-left: 2% !important;
    height: 90%;
    float: right;
}

#list{
    width:80% !important;
    margin:auto;
}

li.list-group-item .btns{
    float: right;
}

.remove{
    display:none;
}

@media (max-width: 991.98px) {
    li.list-group-item{
        margin-top: 5%;
    }
}

.colored{
    background-color:seashell;
}